Django==3.0.7
django-3-jet==1.0.8
django-crontab==0.7.1
django-heroku==0.3.1
django-jet==1.0.8
django-messages==0.6.0
django-phone-field==1.8.1
django-qr-code==1.2.0
django-smart-selects==1.5.9
django-utils==0.0.2
djangorestframework==3.11.0
oauth2client==4.1.3
